@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --primary-color: #626aef;
  --primary-color-50: #626aef80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.primary-color {
  color: var(--primary-color);
  transition: all 0.3s ease;

  &.hover {
    &:hover {
      color: var(--primary-color-50);
    }
  }
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.auth-background {
  background: url("../images/motor-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.back-to-home {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.text-green {
  color: #67c23a;
}

.text-yellow {
  color: #e6a23c;
}

.text-red {
  color: #f56c6c;
}

.add-motor-to-cart {
  padding: 8px 12px;
  background-color: #f56c6c;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-block: 12px;
  font-size: 14px;

  &:hover {
    opacity: 0.7;
  }
}

.italic {
  font-style: italic;
  font-size: 11px;
}

.blog-font-title {
  font-family: "Pacifico", cursive;
}

.error-text {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
  padding-top: 2px;
}

.common-paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 24px;
}

.common-count {
  font-size: 14px;
}

.common-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
